<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> <%= title %> </title>

    <link rel="stylesheet" href="stylesheets/pure/pure-min.css">
    <link rel="stylesheet" href="stylesheets/pure/side-menu.css">
    <link rel="stylesheet" href="stylesheets/style.css">

</head>
<body>

<div id="tableContainer" class="tableContainer">
	<table border="0" cellpadding="0" cellspacing="0" width="15%" class="noScrollTable pure-table">
			<tr> </tr>
			<tr> <td>Monday</td> </tr>
			<tr> <td>Tuesday</td> </tr>
			<tr> <td>Wednesday</td> </tr>
			<tr> <td>Thursday</td> </tr>
			<tr> <td>Friday</td> </tr>
			<tr> <td>Saturday</td> </tr>
			<tr> <td>Sunday</td> </tr>
	</table>

 	<table border="0" cellpadding="0" cellspacing="0" width="85%" class="scrollTable pure-table">
	    <tbody class="scrollContent">
	    	<tr>
		        <td>Cell Content 1</td>
		        <td>Cell Content 2</td>
		        <td>Cell Content 3</td>
		        <td>Cell Content 3</td>
		        <td>Cell Content 3</td>
		        <td>Cell Content 3</td>
		        <td>Cell Content 3</td>
		        <td>Cell Content 3</td>
		        <td>Cell Content 3</td>
	      </tr>
	    	<tr>
		        <td>Cell Content 1</td>
		        <td>Cell Content 2</td>
		        <td>Cell Content 3</td>
		        <td>Cell Content 3</td>
		        <td>Cell Content 3</td>
		        <td>Cell Content 3</td>
		        <td>Cell Content 3</td>
		        <td>Cell Content 3</td>
		        <td>Cell Content 3</td>
	      </tr>
	      <tr>
		        <td>Cell Content 1</td>
		        <td>Cell Content 2</td>
		        <td>Cell Content 3</td>
	      </tr>
	       <tr>
		        <td>Cell Content 1</td>
		        <td>Cell Content 2</td>
		        <td>Cell Content 3</td>
	      </tr>
	       <tr>
		        <td>Cell Content 1</td>
		        <td>Cell Content 2</td>
		        <td>Cell Content 3</td>
	      </tr>
	      <tr>
		        <td>Cell Content 1</td>
		        <td>Cell Content 2</td>
		        <td>Cell Content 3</td>
	      </tr>
	      <tr>
		        <td>Cell Content 1</td>
		        <td>Cell Content 2</td>
		        <td>Cell Content 3</td>
	      </tr>
	      <tr>
		        <td>Cell Content 1</td>
		        <td>Cell Content 2</td>
		        <td>Cell Content 3</td>
	      </tr>
	      <tr>
		        <td>Cell Content 1</td>
		        <td>Cell Content 2</td>
		        <td>Cell Content 3</td>
	      </tr>

	    </tbody>
	</table> 
</div>
<!-- <div id="tableContainer" class="tableContainer">
  <table border="0" cellpadding="0" cellspacing="0" width="90%" class="scrollTable">
    <tbody class="scrollContent">
      <tr>
        <th>Cell Content 1</th>
        <td>Cell Content 2</td>
        <td>Cell Content 3</td>
      </tr>
      <tr>
        <th>More Cell Content</th>
        <td>More Cell Content 2</td>
        <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>

      </tr>
      <tr>
        <th>More Cell Content</th>
        <td>Even More Cell Cont asdkfh asoid hfoas ghdfoasgdojf gasdkjfgasd jfgaskjdfg kjasdgf kjasd gjkasgdfkj agskjdfgaskdjfgent 2</td>
        <td>Even More Cell Content 3</td>
           <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
      </tr>
      <tr>
        <th>More Cell Content</th>
           <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
        <td>More Cell Content 2</td>
        <td>More Cell Content 3</td>
      </tr>
      <tr>
        <th>More Cell Content</th>
        <td>Even More Cell Cont asdkfh asoid hfoas ghdfoasgdojf gasdkjfgasd jfgaskjdfg kjasdgf kjasd gjkasgdfkj agskjdfgaskdjfgent 2</td>
        <td>Even More Cell Content 3</td>
           <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
      </tr>
      <tr>
        <th>More Cell Content 1</th>
        <td>More Cell Content 2</td>
        <td>More Cell Content 3</td>
           <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
      </tr>
      <tr>
        <th>More Cell Content</th>
        <td>Even More Cell Cont asdkfh asoid hfoas ghdfoasgdojf gasdkjfgasd jfgaskjdfg kjasdgf kjasd gjkasgdfkj agskjdfgaskdjfgent 2</td>
        <td>Even More Cell Content 3</td>
           <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
        <td>More Cell Content 3</td>
      </tr>
    </tbody>
  </table>
</div> -->

</div>


</body>