<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> <%= title %> </title>

    <link rel="stylesheet" href="stylesheets/pure/pure-min.css">
    <link rel="stylesheet" href="stylesheets/pure/side-menu.css">
</head>

<body>
    <div id="main">
        <div class="header">
            <h1>Scheduler</h1>
            <h2>Plan yo shit here!</h2>
        </div>

        <div align="center"  class="content">
            <h2 class="content-subhead">Sign Up / Login </h2>
            <form class="pure-form pure-form-stacked">
			    <fieldset>
			        <label for="email">Email</label>
			        <input  id="email" type="email" placeholder="Email">

			        <label for="password">Password</label>
			        <input id="password" type="password" placeholder="Password">

			        <label for="remember" class="pure-checkbox">
			            <input id="remember" type="checkbox"> Remember me
			        </label>

			        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
			    </fieldset>
			</form>

           
        </div>
    </div>
</body>
</html>

