<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="stylesheets/pure/pure-min.css">
    <link rel="stylesheet" href="stylesheets/pure/side-menu.css">
</head>

<body>
  <table class="pure-table pure-table-bordered" border="5" cellpadding="5" cellspacing="1">
    <tr>
	<th>Time</th>
	<th>Sunday</th>
	<th>Monday</th>
	<th>Tuesday</th>
	<th>Wednesday</th>
	<th>Thursday</th>
	<th>Friday</th>
	<th>Saturday</th>
    </tr>
	<tbody>
	  <tr>
	    <th>8:00AM</th><td>asdf</td>
	  </tr>
	</tbody>
  </table>
</body>
</html>

