<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="stylesheets/pure/pure-min.css">
    <link rel="stylesheet" href="stylesheets/pure/side-menu.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<script src="javascripts/jquery-1.11.3.min.js"></script>
</head>

<body>
  <table class="pure-table pure-table-bordered" align="center" border="5" cellpadding="5" cellspacing="1">
    <tr>
	<th>Time</th>
	<th>Sunday</th>
	<th>Monday</th>
	<th>Tuesday</th>
	<th>Wednesday</th>
	<th>Thursday</th>
	<th>Friday</th>
	<th>Saturday</th>
    </tr>
	<tbody>
	  <tr>
	    <th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	  </tr>
	  <tr>
	    <th>8:00 AM</th><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
	  </tr>
	  <tr>
	    <th>8:30 AM</th><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
	  </tr>
	  <tr>
	    <th>9:00 AM</th><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
	  </tr>
	  <tr>
	    <th>9:30 AM</th><td><div style="position: relative;" >&nbsp;</div></td>
	  </tr>
	</tbody>
  </table>
</body>
</html>

